<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> GotIt </title>

    <script type="text/javascript" src="../static/js/jquery-3.1.1.js"></script>
    <script>
    $(function() {
        $.ajax({
            url: '/getAllBlogs',
            type: 'GET', // get data from url
            success: function (res) {
                var div = $('#blogTemplate')
                    .append($('<a>').append($('<h2>'), $('<h4>'), $('<p>'), $('<a>').attr('id', 'blogId')));
                var blogObj = JSON.parse(res);
                var blog = '';

                // for each blog, we print them out using the provided format

                $.each(blogObj, function(index, value){
                    blog = div.clone();
                    var blog_id = value.Blog_Id;
                    $(blog).find('h2').text(value.Title);
                    $(blog).find('h4').text('by ' + value.Name);
                    $(blog).find('p').text(value.Content.substring(0,50) + '...');
                    $(blog).find('#blogId').attr('href', '/showOneBlog/' + blog_id).text('Read More >>>>>');
                    $('#blogPage').append(blog);
                })
            },
            error: function(error){
                console.log(error);
            }
        });
    });
    </script>

</head>
<body>
{% include "header.html" %}

<h1> DASHBOARD: All the blogs go here </h1>

<p> =========================== </p>
<div id = 'blogPage'>
    <div id = 'blogTemplate'> </div>
</div>
</body>
</html>