<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <script type="text/javascript" src="../static/js/jquery-3.1.1.js"></script>

    <script>


        // when the "job" field selected is "other", we prompt another form field where they can enter the job
        function otherSelected()
        {
            var job = document.getElementById("inputJob");
            var otherJob = document.getElementById("inputOtherJob");

            if (job.value === 'Other') {
                otherJob.style.display = 'inline';
                otherJob.required = true;
            }
            else {
                otherJob.style.display = 'none';
                otherJob.required = false;
            }
        }

    </script>
</head>
<body>

<!--header-->

{% include "header.html" %}

<!--body-->

<h1> Sign Up </h1>
        <form action = "/signUp" method = "POST">
            <label for="inputName">Name</label>
        <input type="name" name="inputName" id="inputName" placeholder="Name" required autofocus>
            <br>
            <label for="inputEmail">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" placeholder="Email address" required autofocus>
            <br>
            <label for="inputPassword">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" placeholder="Password" required autofocus>
            <br>
            <label for="inputPhoneNum">Phone Number</label>
        <input type="tel" name="inputPhoneNum" id="inputPhoneNum" placeholder="Phone Number" >
            <br>
            <p> What is your profession? </p>
            <select id="inputJob" name="inputJob" onchange="otherSelected();">
              <option value = "None"> --Select Job-- </option>
              <option value="Student">Student</option>
              <option value="Teacher">Teacher</option>
              <option value="Other">Other</option>
            </select>

            <input id = "inputOtherJob" name = "inputOtherJob" style = 'display: none'>
            <br>
            <input id = "inputPlatform" name = "inputPlatform" type = "hidden" value = "Local">
            <br>
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>

        </form>

    <a href = "/signUp/google"> Sign Up with Google </a> <br> <br>

    <a href = "/signUp/facebook"> Sign Up with Facebook </a>

</body>
</html>